.preview {
    background-color: beige;
    font-family: arial;
    border-style: solid;
    border-width: 1px;
    padding: 2rem;
}

.resumeName {
    font-size: 32px;
    font-weight: bold;
}

.sectionHeader {
    font-size: 18px;
    font-weight: bold;
}